
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inter, 'sans-serif';
}
body{
    padding: 6px;
}
.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
   
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.logo img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
  
}

.logo{
    display: flex;
    align-items: center;
    font-size: 14px;
}

.logo h1 {
    color: rgb(36, 62, 99);
    font-weight: 900;
    font-size: 1.5rem;
}

.nav ul{
    display: flex;
    justify-content: center;
    
}

.nav ul li{
    list-style-type: none;
    font-weight: 600;
    letter-spacing: 0.025em;
    padding: 24px;

}

.nav ul li a{
    text-decoration: none;
    color: rgb(36, 62, 99);
    font-size: 14px;
    transition: ease all .3s;
}

.nav ul li a:hover{
    color: #6415ff;
}

.dark__navlink{
    background-color: rgb(100, 21, 255);
    padding: 12px 32px;
    border-radius: 20px;
   
}

.dark__navlink:hover{
    background-color: rgb(71, 3, 207);
}

.dark__navlink .purple{
    color: #fff;
}

.dark__purple{
    color: #6415ff;
}

.purple__btn{
    color: #F7FAFC ;
    background-color: #6415ff;
    margin: 8px 8px 8px 0px;
    padding: 16px 0 ;
    border-radius: 9999px;
    font-weight: 700;
   
}

/* Main section */
.main{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 40px;
}

.main h1{
    font-size: 48px;
    
}

.main p{
    margin: 32px 0;
    font-size: 17.5px;
    color: #243e63;
    line-height: 24px;
    width: 500px;
 
}

.main input{
    padding-top: 1.25rem;
    padding-bottom: 1.2rem;
    padding-right: 12rem;
    padding-left: 2rem;
    border-radius: 9999px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(226, 232, 240);
    font-size: 100%;
    font-weight: 500;
    color: rgb(226, 232, 240);
    line-height: 24px;
    width: 100%;
    padding-left: 2rem;
   
}

.input__place{
    max-width: 25rem;
    position: relative;
}

.main input::placeholder{
    color: rgb(203, 208, 214);
    font-weight: 500;
}

.main button{
    position: absolute;
    top: 0;
    left: 235px;
    width: 10rem;
    border: none;
    font-size: 16px;
   
}

.column{
    display: flex;
}

.main h3{
    margin-top: 5rem;
    font-size: 12px;
    text-transform:uppercase;
    color: #A0AEC0;
    
}

.main img{
    padding-right: 8rem;
    width: 533px;
    height: 33.59px;
    margin: 16px 0px;
    color:#A0AEC0;
    opacity: 0.5;
}

.image__right img{
    max-width: 48rem;
}

/* Features Section */

.container{
    padding: 112px 0;
}

.features{
    margin-top: 40px;
}

.features h1{
    text-align: center;
    color: #6415ff;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;
    margin-bottom: 16px;
}

.features h2{
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #243e63;
}

.features p{
    text-align: center;
    color: #7C8BA1;
    font-size: 18px;
    margin-top: 16px;
    font-weight: 500;
    line-height: 29px;
}

.services{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.5rem;
}

.service{
    display: flex;
    width: calc(100%/3);
    padding:32px 0;
}

.image__container{
    border: 1px solid rgb(226, 232, 240);
    padding: 1.25rem;
    border-radius: 9999px;
    text-align: center;
    margin: 0px 16px;

}

.service__desc h4{
    font-size: 24px;
    color: #243e63;
    margin-top: 16px;
}

.service__desc p{
    margin-top: 1rem;
    color: #7C8BA1;
    font-size: 16px;
    text-align: start;
}