
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inter, 'sans-serif';
}
body{
    padding: 6px;
    
}
.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
   
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.logo img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
  
}

.logo{
    display: flex;
    align-items: center;
    font-size: 14px;
}

.logo h1 {
    color: rgb(36, 62, 99);
    font-weight: 900;
    font-size: 1.5rem;
}

.nav ul{
    display: flex;
    justify-content: center;
    
}

.nav ul li{
    list-style-type: none;
    font-weight: 600;
    letter-spacing: 0.025em;
     padding: 24px;  
    /* margin:1.5rem;
    letter-spacing: 0.025em; */
    

}

.nav ul li a{
    text-decoration: none;
    color: rgb(36, 62, 99);
    font-size: 14px;
    transition: ease all .3s;
}

.nav ul li a:hover{
    color: #6415ff;
}

.dark__navlink{
    background-color: rgb(100, 21, 255);
    padding: 12px 32px;
    border-radius: 20px;
   
}

.dark__navlink:hover{
    background-color: rgb(71, 3, 207);
}

.dark__navlink .purple{
    color: #fff;
}

.dark__purple{
    color: #6415ff;
}

.purple__btn{
    color: #F7FAFC ;
    background-color: #6415ff;
    margin: 8px 8px 8px 0px;
    padding: 16px 0 ;
    border-radius: 9999px;
    font-weight: 700;
   
}

/* Main section */
.main{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 40px;
}

.main h1{
    font-size: 48px;
    
}

.main p{
    margin: 32px 0;
    font-size: 17.5px;
    color: #243e63;
    line-height: 24px;
    width: 500px;
 
}

.main input{
    padding-top: 1.25rem;
    padding-bottom: 1.2rem;
    padding-right: 12rem;
    padding-left: 2rem;
    border-radius: 9999px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(226, 232, 240);
    font-size: 100%;
    font-weight: 500;
    color: rgb(226, 232, 240);
    line-height: 24px;
    width: 100%;
    padding-left: 2rem;
   
}

.input__place{
    max-width: 25rem;
    position: relative;
}

.main input::placeholder{
    color: rgb(203, 208, 214);
    font-weight: 500;
}

.main button{
    position: absolute;
    top: 0;
    left: 235px;
    width: 10rem;
    border: none;
    font-size: 16px;
   
}

.column{
    display: flex;
}

.main h3{
    margin-top: 5rem;
    font-size: 12px;
    text-transform:uppercase;
    color: #A0AEC0;
    
}

.main img{
    padding-right: 8rem;
    width: 533px;
    height: 33.59px;
    margin: 16px 0px;
    color:#A0AEC0;
    opacity: 0.5;
}

.image__right img{
    max-width: 48rem;
}

/* Features Section */

.container{
    padding: 112px 0;
    position: relative;
}

.features{
    margin-top: 40px;
 
}

.features h1{
    text-align: center;
    color: #6415ff;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;
    margin-bottom: 16px;
}

.features h2{
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #243e63;
}

.features p{
    text-align: center;
    color: #7C8BA1;
    font-size: 18px;
    margin-top: 16px;
    font-weight: 500;
    line-height: 29px;
}

.services{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.5rem;
}

.service{
    display: flex;
    width: calc(100%/3);
    padding:32px 0;
}

.image__container{
    border: 1px solid rgb(226, 232, 240);
    padding: 1.25rem;
    border-radius: 9999px;
    text-align: center;
    margin: 0px 16px;

}

.service__desc h4{
    font-size: 24px;
    color: #243e63;
    margin-top: 16px;
}

.service__desc p{
    margin-top: 1rem;
    color: #7C8BA1;
    font-size: 16px;
    text-align: start;
}

/* Quality Section */

.quality{
    display: flex;
    justify-content: space-between;
   
    
    
}

.quality__info{
    width: 50%;
}

.quality__img{
   width: 50%;
    
}

.quality__img img{
    max-width: 100%;
    height: auto;
    border: 1px solid rgb(226,232,240);
    border-radius: 0.25rem;
   
}

.quality__info h3{
    color: #6415ff;
    text-align: left;
    text-transform: capitalize;
}

.quality__info h4{
    margin-top: 1rem;
    font-size: 48px;
    color: #243e63;
    font-weight: 900;
}

.quality__info p{
    color: #7C8BA1;
    margin-top: 1rem;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.625;
}

.quality__info button{
    margin-top: 2rem;
    padding: 0.75rem 2rem;
    border: none;
    font-weight: 700;
    font-size: 14px;
}

.blob__square{
    position: absolute;
    z-index: -10;
    right: 54px;
    bottom: 78px;
    width: 5rem;
    height: 5rem;
    color: #6415ff;
    fill: currentcolor;
    
}

/* Steps Section */

.steps{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.steps__img{
    width: 50%;
    position: left;
    margin-right: 46px;
    position: relative;
    flex-shrink: 0;
 
}

.steps__img img{
    max-width: 100%;   
    height: auto; 
}

.steps__list{
    width: 50%;
    margin-top: -66px;
   
}

.steps__list h5{
    color: #6415ff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.steps__list h3 {
    margin-top: 16px;
    font-size: 48px;
    font-weight: 900;
    color: #243e63;
    letter-spacing: 0.025em;

}
.steps__list ul{
    margin-top: 32px;
}

.steps__list li{
    list-style-type: none;
}

.steps__main{
    display: flex;
}

.steps__number{
    font-size: 36px;
    color: #cbd5e0;
    line-height: 1;
}

.steps__number h2{
    font-size: 36px;
}

.steps__description{
    margin-left: 24px;
}

.steps__description h2{
    font-size: 20px;
    color: #243e63;
    line-height: 1;
    font-weight: 600;
}

.steps__description p{
    margin-top: 14px;
    font-size: 14px;
    line-height: 2;
    color: #718096;
}

.dotted__blob{
    height: 10rem;
    width: 10rem;
    position: absolute;
    left: 220px;
    bottom: -24px;
    z-index: -10;
    color: #6415ff;
    opacity: 0.15;
    fill: currentColor;
}

/* Values Section */

.values{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.values__info{
    width: 50%;
    padding-top: 32px;
}

.values__img{
    width: 50%;
    flex-shrink: 0;
}

.values__img img{
    max-width: 100%;
}

.values__info h3{
    color: #6415ff;
}

.values__info .text__prince{
    margin-top: 16px;
    color: #243e63;
    font-size: 48px;
    font-weight: 900;
}

.values__info p{
    margin-top: 32px;
    color: #7C8BA1;
    font-size: 18px;
}

.values__exras{
    display: flex;
    align-items: center;
    margin: 32px 32px 0 0;
    
    
}

.values__icons{
    background-color: #9AE6B4;
    border-radius: 9999px;
    padding: 8px;
}

.values__icons svg{
    color: rgb(39, 103, 73);
    height: 1.25rem;
     width: 1.25rem;
}

svg{
    display: block;
}

.values h5{
    margin-left: 12px;
    font-size: 20px;
    color: #243e63;
}

.values__description p{
    margin-top: 16px;
    color: #718096;
    font-size: 16px;
    line-height: 1.625;
}

.values button{
    margin-top: 48px;
    
}

